<% provide(:title, @bat.manufacturer + " " + @bat.model_name) %>
<div>
  <h1>
    <%= @bat.model_year %>
    <%= @bat.manufacturer %>
    <%= @bat.model_name %>
  </h1>

<%= link_to "Back to Bat List", bats_adult_path %></br>

  <ul class="bats">
    <li>Model Name: <%= @bat.model_number %></li>
    <li><%= image_tag @bat.image_path1 %></li>
    <li>Description</li>
    <li>Table is below</li>
  </ul>

  <hr>
  <% if @bat.reviews.any? %>
    <h3>Reviews (<%= @bat.reviews.count %>)</h3>
    <ol class="reviews">
      <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>  
  <% else %>
  <section>
    <%= render 'shared/review_form' %>
  </section>
  <% end %>
</div>
