<% provide(:title, @bat.manufacturer.manufacturer + " " + @bat.model_name) %>
<div>
  <h1>
    <%= @bat.model_year %>
    <%= @bat.manufacturer.manufacturer %>
    <%= @bat.model_name %>
  </h1>

<%= link_to "Back to Bat List", bats_adult_path %></br>

  <ul class="bats">
    <li>Model Name: <%= @bat.model_number %></li>
    <li><%= image_tag @bat.image_path1 %></li>
    <li>Description</li>
    <li>Table is below</li>
  </ul>

  <hr>


  <script>
    $('#user_star').raty({
      score: <%= @rating.score %>,
      path: '/assets',
      click: function(score, evt) {
        $.ajax({
          url: '/ratings/' + <%= @rating.id %>,
          type: 'PATCH',
          data: { score: score }
        });
      }
    });
  </script>

  
    <p>Average rating</p>
    <div id="star"></div>
  
    <p>Your rating</p>
    <div id="user_star"></div>
  <hr>

  <h3><%= @bat.model_year %> <%= @bat.manufacturer.manufacturer %> <%= @bat.model_name %>- <%= pluralize(@bat.reviews.count, "Bat Review") %></h3>

  <% if @bat.reviews.any? %>
    <div align="center">
    <ol class="reviews">
      <%= @review.user.username %>
      <%= render @reviews %>
    </ol>
    </div>
    <%= will_paginate @reviews %>
  <% else %>
    <div align="center">
      <h2>Be the first to review the bat!</h2>
    </div>
  <% end %> 
  <hr>
  <section>
    <h2 align="center">If the <%= @bat.model_year %> <%= @bat.manufacturer.manufacturer %> <%= @bat.model_name %> is the bat you would like to review then proceed!</h2>
    <br>
    <h2 align="center">If you would like to review another bat, please <%= link_to "click here!", reviews_new_path %></h2>
    <%= render 'review_form' %>
  </section>
</div>
