<% provide(:title, @bat.manufacturer + " " + @bat.model_name) %>
<div>
  <h1>
    <%= @bat.model_year %>
    <%= @bat.manufacturer %>
    <%= @bat.model_name %>
  </h1>

<%= link_to "Back to Bat List", bats_adult_path %></br>

  <ul class="bats">
    <li>Model Name: <%= @bat.model_number %></li>
    <li><%= image_tag @bat.image_path1 %></li>
    <li>Description</li>
    <li>Table is below</li>
  </ul>

  <hr>
  <% if @bat.reviews.any? %>
    <h3><%= @bat.model_year %> <%= @bat.manufacturer %> <%= @bat.model_name %>- <%= pluralize(@bat.reviews.count, "Bat Review") %></h3>
    <div align="center">
    <ol class="reviews">
      <%= @review.user.username %>
      <%= render @reviews %>
    </ol>
    </div>
    <%= will_paginate @reviews %>  
  <% else %>
    <h3><%= @bat.model_year %> <%= @bat.manufacturer %> <%= @bat.model_name %>- 0 Bat Reviews</h3>
    <hr>
    <section>
      <%= render 'shared/review_form' %>
    </section>
  <% end %>
</div>
